<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <div>
    <header>
      <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <h1 class="navbar-brand">Tech Blog</h1>
          <a class="navbar-brand" href="/">Home</a>
          <a class="navbar-brand" href="/dashboard">Dashboard</a>
          {{#if loggedIn}}
          <button id="logout-link">Logout</button>
          {{else}}
          <a class="navbar-brand" href="/login">Login</a>
          {{/if}}
        </nav>
      </div>

    </header>
    <div class="jumbotron"></div>
    <main class="container">
      {{{body}}}
    </main>
  </div>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>