<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <div>
    <header>
      <div>
        <nav>
          <a href="/">Home</a>
          <a href="/dashboard">Dashboard</a>
          {{#if loggedIn}}
          <button id="logout-link">Logout</button>
          {{else}}
          <a href="/login">Login</a>
          {{/if}}
        </nav>
      </div>
      <h1>Tech Blog</h1>
    </header>
    <main>
      {{{body}}}
    </main>
  </div>
  <script srv="/js/logout.js"></script>
</body>

</html>