<h2>Edit Post</h2>

<form id = "edit-post-form">
    <div>
        <label for="title">Post Title:</label><br>
        <input name="post-title" type="text" value="{{post.title}}">
    </div>
    <div>
        <label for="content">Edit Content:</label><br>
        <textarea name="post-body" id="postContent" type="text"></textarea>
    </div>
    <div>
        <button type="submit">Update</button>
    </div>
    <div>
        <label for="id">Post Id</label>
        <input name="post-id" type="text" value="{{post.id}}">
    </div>
</form>

<button id = "delete-btn">Delete</button>

<script src="/js/edit.js"></script>