<article>
    {{#each posts as |post|}}
    <a href="/post/{{post.id}}">
    <div>
        <h2>{{post.title}}</h2>
        <p> {{post.createdAt}} </p>
        {{#if post.user.username}}
        <p> {{post.user.username}} </p>
        {{/if}}
    </div>
    </a>
    {{/each}}
</article>