<h2>New Post</h2>

<form id = "new-post-form">
    <div>
        <label for="title">Post Title:</label><br>
        <input type="text">
    </div>
    <div>
        <label for="content">Post Content:</label><br>
        <textarea name="postBody" id="postContent" type="text"></textarea>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>

<script src="/js/new.js"></script>